# 1. Convert an integer to a floating point number.

In [14]:
integer_value = 526
float_value = float(integer_value)
print(float_value, type(float_value))

526.0 <class 'float'>

# 2. Convert a float to an integer

In [13]:
float_value1 = 526.215
integer_value1 = int(float_value1)
print(integer_value1, type(integer_value1))

526 <class 'int'>

# 3. Convert an integer value to a string

In [12]:
integer_value2 = 456
string_value = str(integer_value)
print(string_value , type(string_value))

526 <class 'str'>

# 4. Convert a list to a tuple

In [16]:
list1 = ['Ram',1,2,5+6j,True]
tuple1 = tuple(list1)
print(tuple1, type(tuple1))

('Ram', 1, 2, (5+6j), True) <class 'tuple'>

# 5. Convert a tuple to a list

In [17]:
tuple2 = ('ram',5,6,'shyam')
list2 = list(tuple2)
print(list2, type(list2))

['ram', 5, 6, 'shyam'] <class 'list'>

# 6. Convert a decimal number to binary number

In [21]:
decimal_num = 10
binary_num = bin(decimal_num)
print(binary_num)

0b1010

# 7. Convert a non-zero number to boolean.

In [26]:
num = 25
bool_value = bool(num)
print(bool_value , type(bool_value))

True <class 'bool'>